body {
	margin: 0;
	padding: 0;
}

.background-parallax1 {
	min-height: 500px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: block;
}

.parallax-image {
	position: fixed;
	filter: brightness(50%);
	max-height: 500px;
	width: fit-content;
	display: block;
}

/*.background-parallax2-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: white;
	position: relative;
	top: 5%;
	left: 0;
	right: 0;
	bottom: 0;
}*/


/*.image-filter {
	filter: brightness(50%);
	opacity: 0.8;
	width: 1349px;
}*/


#logo {
	width:	7%;
	height: 5%;
	float: left;
	display: inline;
	margin-right: 0;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 0;
	
}

#menu {
	display: inline;
	position: absolute;
	left: 36%;
	top: 3%;
	padding: 0;
	}

.menu {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: #f1f1f1;
	overflow: hidden;
	display: inline;
	vertical-align: top;
}

li {
	float:left;
}

li a, .dropbtn {
	display: inline-block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 20px;
	font-weight: 600;
	font-size: 14pt;
	font-family: Tahoma, Geneva, sans-serif;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #555;
	color: white;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #555;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    z-index: 1; 
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #555}

.dropdown:hover .dropdown-content {
    display: block;
}

li a.active {
	background-color: #555;
	color: white;
	
}

li a:hover:not(.active)	{
	background-color: #555;
	color:	white;
}


.header-main-container {
	position: static;
	top: 20%;
	width: cover;
	text-align: center;
	font-family: 'Playball', cursive;
	font-weight: bolder;
	color: white;
	resize: both;
}

.welcome-font {
	position: absolute;
	top: 20%;
	left: 38%;
	padding: 0;
	margin: 0;
	font-size: 6vw;
	text-align: center;
	
}

.easyfly-font	{
	position: absolute;
	top: 25%;
	left: 28%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 15vw;

}

.btn {
	border-radius: 20px;
	background-color: transparent;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	position: absolute;
	top: 64%;
	left: 45%;
	border-color: white;
	font-family: Tahoma, Geneva, sans-serif
}

.btn:hover { 
	background-color: black;
	color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.second-main-container {
	display: inline;
	top: 1000px;
	height: 1000px;
	background-color: white;
	padding: 30px cover;
}

.second-container-font {
	font-family: 'Roboto', sans-serif;
	text-align: center; 
	font-weight: bold;
}

.fontsize-second1 {
	font-size: 40px;
}

.fontsize-second2 {
	font-size: 25px;
}

/* For picture 1 - CANADA */
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	background-color: white;
	position: relative;
	left: 5%;
}

.pic1-grid-parent {
	grid-column-start: 1;
	grid-column-end: 2;
	width: 600px;
	height: 400px;
	overflow: hidden;
}

.pic1-grid-child {
	background-image: url("pic1.jpg");
	transition: all .1s;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-right: 0 auto;
}

.pic1-grid-parent:hover .pic1-grid-child,
.pic1-grid-parent:focus .pic1-grid-child {
	transform: scale(1.1);
}

.pic1-grid-font {
	display: none;
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center; 
	margin:	auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 50px;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.pic1-grid-child::before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(52,73,94,0.75);
}


.pic1-grid-parent:hover .pic1-grid-child:before,
.pic1-grid-parent:focus .pic1-grid-child:before {
	display: block;	

}

.pic1-grid-child:hover .pic1-grid-font,
.pic1-grid-child:focus .pic1-grid-font {
	display: block;
}


/* For picture 2 - USA */

.pic2-grid-parent {
	grid-column-start: 2;
	grid-column-end: 2;
	width: 600px;
	height: 400px;
	overflow: hidden;
}

.pic2-grid-child {
	background-image: url("pic2.jpg");
	transition: all .1s;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-right: 0 auto;
}

.pic2-grid-parent:hover .pic2-grid-child,
.pic2-grid-parent:focus .pic2-grid-child {
	transform: scale(1.1);
}

.pic2-grid-child::before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(52,73,94,0.75);
}


.pic2-grid-parent:hover .pic2-grid-child:before,
.pic2-grid-parent:focus .pic2-grid-child:before {
	display: block;	

}

.pic2-grid-parent:hover .pic1-grid-font,
.pic2-grid-parent:focus .pic1-grid-font {
	display: block;
}




/* For picture 3 - INDIA */

.pic3-grid-parent {
	grid-column-start: 1;
	grid-column-end: 3;
	width: 1210px;
	height: 400px;
	overflow: hidden;
}

.pic3-grid-child {
	background-image: url("pic3.jpg");
	transition: all .1s;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-right: 0 auto;
}

.pic3-grid-parent:hover .pic3-grid-child,
.pic3-grid-parent:focus .pic3-grid-child {
	transform: scale(1.1);
}

.pic3-grid-child::before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(52,73,94,0.75);
}


.pic3-grid-parent:hover .pic3-grid-child:before,
.pic3-grid-parent:focus .pic3-grid-child:before {
	display: block;	

}

.pic3-grid-parent:hover .pic1-grid-font,
.pic3-grid-parent:focus .pic1-grid-font {
	display: block;
}


.background-parallax2 {
	background-image: url("pic4.jpg");
	width: 1349px;
	min-height: 500px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 1570px;
	filter:	brightness(50%);
}

/*.background-parallax2 .imagebg {
	background-image: url("pic4.jpg");
	width: 1349px;
	filter: brightness(50%);
}*/

.text-scroll-parent {
	color: white;
	text-align: center;
	position: absolute;
	top: 1570px;
	left: 30%;
	right: 30%;
	padding-top: 175px;
	font-family: 'Playball', cursive;
	font-size: 25px;
	
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
}

.modal-content {
	position: fixed;
	top: 0;
	left: 30%;
	background-color: #fefefe;
	width: 40%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 21px 0 rgba(0,0,0,0.17);
	animation-name: slideIn;
	animation-duration: 0.4s;
}

.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}


.modal-header {
	padding: 2px 16px;
	background-color:#222;
}

.brightness {
	filter: brightness(50%);
}

.flightSearchHeaderFont {
	font-family: 'Karla', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 30px;
	text-align: center;
}

.modal-body {
	padding: 2px 16px;
	background-image: url('flight.jpg');
	background-position: center;
	background-attachment: center;
	color:white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	text-align: left;
	height: 400px;
	width: 500px;
	filter: brightness(50%);
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


/* Flight search form */
